.main-container {
    display: flex;
    /* flex boxの指定 */
    align-items: center;
    /* y軸を指定する */
    justify-content: center;
    /* x軸を指定する */
    width: 100vw;
    /* 箱横幅指定 */
    height: 100vh;
    /* 箱縦幅指定 */
    background-image: url("./image/background.jpg");
    /* バックイメージの指定 */
    background-repeat: no-repeat, repeat;
    /* バックイメージの指定 */
    -webkit-background-size: cover;
    /* バックイメージの指定 */
    -moz-background-size: cover;
    /* バックイメージの指定 */
    -o-background-size: cover;
    /* バックイメージの指定 */
    background-size: cover;
    /* バックイメージの指定 */
}



#h-hand,
#m-hand,
#s-hand,
#s-tail {
    stroke: #ffffff;
    stroke-linecap: round;
}

#h-hand {
    stroke-width: 3px;
}

#m-hand {
    stroke-width: 2px;
}

#s-hand {
    stroke-width: 1px;
}

.time-text {
    text-align: center;
}
#tick {
    stroke: whitesmoke;
    stroke-width: 3px;   
}




